html{ 
  overflow: hidden;
}
html, body {
  height: 100%;
}
.container{
  height: calc(100% - 100px);
}
body{
  margin: 0;
}
.header{
  background-color: #234da1;
  height: 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 15px;
  img {
    width: 200px;
    height: auto;
  }
  .navigation{
    a{
      margin-left: 10px;
      color: white;
      text-decoration: none;
    }
  }
}

.field-container{
  margin: 20px;
  display: flex;
  position: relative;
  #search_field {
    display: flex;
    width: 200px;
  }
}
.table-container{
  width: 100%;
  overflow-x: scroll;
  .pagination {
      a{
        border: 1px solid lightgray;
        padding: 5px;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 10px;
        margin: 15px 15px 0 0;
        color: #000;
      }
  }
}