doctype html
html
  head
    meta(charset = 'utf-8')
    link(rel='stylesheet', href='../build/styles.css')
  body
    .header
      img(src='../app/assets/images/logo_blanc.png')
      div.navigation
        a(href="./index.html") Controle Global
        a(href="./cluster-table.html") Recatégorisation
        a(href="./validate-table.html") Validation des actions utilisateurs
